
$layout-margin: 2rem;

$thumbnails: (
  layout-name: 'thumbnails',
  margin-size: $layout-margin,
  breakpoints: (
    mobile-small: (
      size: $breakpoint-mobile-small,
      area: (
        thumb: (
          grow: 0,
          shrink: 0,
          basis: 50%,
          order: 0,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: true
          )
        ),
        title: (
          grow: 1,
          shrink: 1,
          basis: 100%,
          order: 0,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: true
          )
        )
      )
    ),
    tablet: (
      size: $breakpoint-tablet,
      area: (
        thumb: (
          grow: 0,
          shrink: 0,
          basis: 50%,
          order: 0,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: 1rem
          )
        ),
        title: (
          grow: 1,
          shrink: 1,
          basis: 100%,
          order: 0,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: 0
          )
        ),
      )
    )
  )
);

@include logjam($thumbnails);
