$headline-background-color-a: lighten($key-color, 0%);
$headline-background-color-b: darken($key-color, 30%);

[data-headline] {
  background: linear-gradient(
    13deg,
    $headline-background-color-a 0%,
    $headline-background-color-b 100%
  );
  background-attachment: fixed;
  background-color: $headline-background-color-a;
  border-bottom: .25rem solid darken($headline-background-color-a, 25%);
  box-shadow: 0 .3rem 0 0 rgba(map-get($color, despair), .2);
  color: map-get($color, calm);
  margin-top: 2rem;
  padding: 3rem;
  padding-top: 7rem;
  text-align: center;
  text-shadow: 0 .2rem 0 rgba(map-get($color, despair), .2);
}
