[data-portfolio-thumbnail] {
  width: 100%;

  .portfolio-thumbnail--preview {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
    box-shadow: 0 0 0 1px rgba(map-get($color, indifferent), 1);
    display: block;
    filter: grayscale(1);
    height: calc(20vw);
    transition: filter .5s cubic-bezier(.68, -.55, .27, 1.55), box-shadow .4s cubic-bezier(.68, -.55, .27, 1.55);
    width: 100%;

    &:active,
    &:hover {
      box-shadow: 0 0 0 .25rem $key-color;
      filter: grayscale(0);
    }
  }

  .portfolio-thumbnail--title,
  .portfolio-thumbnail--client,
  .portfolio-thumbnail--type {
    display: block;
    margin-top: .25rem;
  }
}
