[data-portfolio-thumbnail] {
  width: 100%;

  .portfolio-thumbnail--preview {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(map-get($color, despair), .1);
    border-bottom: .3rem solid rgba(map-get($color, despair), .3);
    border-radius: .3rem .3rem .4rem .4rem;
    box-shadow: 0 .2rem 0 .1rem rgba(map-get($color, despair), .1);
    display: block;
    height: calc(20vw);
    transition: filter .5s cubic-bezier(.68, -.55, .27, 1.55), box-shadow .4s cubic-bezier(.68, -.55, .27, 1.55);
    width: 100%;

    &:active,
    &:hover {
      box-shadow: 0 0 0 .25rem $key-color;
    }
  }

  .portfolio-thumbnail--title,
  .portfolio-thumbnail--client,
  .portfolio-thumbnail--type {
    //scss-lint:disable DuplicateProperty
    display: block;
    hyphens: auto;
    margin-top: .25rem;
    overflow-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
  }
}
